<!DOCTYPE html>

<html>

    <head>
    
        <title>Flask ApexChart Example</title>

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- ApexCharts Library -->
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
      </head>


    <body>

        <!-- An HTML element to contain our Graph -->
        <div id="chart"></div>

    </body>


    <script>
        
        // Options for the chart, see the ApexCharts documentation for all possible options
        var chartOptions = {
            title: {
                text: 'Example graph',
            },
            chart: {
                type: 'line',
                width: '70%',
                height: 400,
            },
            noData: {
                text: 'Loading...'
            },
            series: [],
            xaxis: {
                type: 'datetime'
            },
        }
        
        // Get the HTML element we defined in the HTML above by it's ID
        chartHTMLElement = document.querySelector('#chart');
    
        // Create the chart instance in the specified HTML element with the specified options
        var chart = new ApexCharts(chartHTMLElement, chartOptions);

        // Show the chart
        chart.render();


        // Function to fetch the chart datapoints from the server
        function updateChartData() {

            var dataUrl = '/chart_example_data';

            $.getJSON(dataUrl, function(response) {
                chart.updateSeries(response)
            });

        }

        
        // Load the chart data on initial page load
        updateChartData();

        // Update the chart data every 1000 ms
        window.setInterval(updateChartData, 1000);
        

    </script>

</html>



